html {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: xx-large;
}

div {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	width: 100%;
}

.calculadora {
	margin: auto;
	width: 200px;
	margin-top: 150px;
	border: 1px black solid;
	border-radius: 5%;
	padding: 10px;
}

.display {
	align-items: end;
	margin-bottom: 10px;
    /* overflow: auto; */
}

.linhas {
	flex-direction: row;
}

button {
	flex: 1;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: xx-large;
	margin: 1px;
    appearance: none;
	backface-visibility: hidden;
	background-color: #2f80ed;
	border-style: none;
	box-shadow: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1.5;
	outline: none;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	transform: translate3d(0, 0, 0);
	transition: all 0.3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: top;
	white-space: nowrap;
	padding: 14px 22px;
	width: 176px;
}

button:hover {
	background-color: #1366d6;
	box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
	opacity: 1;
	transform: translateY(0);
	transition-duration: 0.35s;
}

button:hover:after {
	opacity: 0.5;
}

button:active {
	box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
		rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
	transform: translateY(2px);
	transition-duration: 0.35s;
}

button:active:after {
	opacity: 1;
}
